<a href="https://colab.research.google.com/github/natyhtpsm/data_analisys_python/blob/main/Data_Analisys_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import os
import pandas as pd

total_table = pd.DataFrame()

list_archive = os.listdir("/content/drive/MyDrive/Vendas")
print(list_archive)

for archive in list_archive:
  if "Vendas" in archive:
    table = pd.read_csv(f"/content/drive/MyDrive/Vendas/{archive}")
    total_table = total_table.append(table)

display(total_table)

table_products = total_table.groupby('Produto').sum()
table_products = table_products[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
display(table_products)

total_table['Billing'] = total_table['Quantidade Vendida'] * total_table['Preco Unitario']

table_billing = total_table.groupby('Produto').sum()
table_billing = table_billing[["Billing"]].sort_values(by="Billing", ascending=False)
display(table_billing)

table_stores = total_table.groupby('Loja').sum()
table_stores  = table_stores[['Billing']]
display(table_stores)

import plotly.express as px

graph = px.bar(table_stores, x = table_stores.index, y = 'Billing')
graph.show()

['Vendas - Goiás.csv', 'Devolucoes - Curitiba.csv', 'Devolucoes - Porto Alegre.csv', 'Devolucoes - Fortaleza.csv', 'Vendas - Salvador.csv', 'Devolucoes - Belo Horizonte.csv', 'Devolucoes - Rio de Janeiro.csv', 'Vendas - Fortaleza.csv', 'Vendas - Porto Alegre.csv', 'Devolucoes - Salvador.csv', 'Devolucoes - Goiás.csv', 'Vendas - Recife.csv', 'Devolucoes - Recife.csv', 'Vendas - Belo Horizonte.csv', 'Vendas - Rio de Janeiro.csv', 'Vendas - Curitiba.csv', 'Vendas - São Paulo.csv', 'Devolucoes - São Paulo.csv']

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,13,HL4379,Televisão,1,Daniel,Monteiro,5/23/2018,Goiás,2500,NaN
1,19,HL9962,Android,4,Elaine,Santos,7/5/2018,Goiás,3400,NaN
2,45,HL1918,iPhone,5,Lenon,Fernandes,3/31/2018,Goiás,5300,NaN
3,50,HL7348,SmartWatch,1,Vivianne,Rodrigues,8/11/2018,Goiás,1400,NaN
4,97,HL7348,SmartWatch,2,Pedro,Rodrigues,7/26/2018,Goiás,1400,NaN
...,...,...,...,...,...,...,...,...,...,...
2221,9981,HL7348,SmartWatch,4,João,Junior,4/14/2018,São Paulo,1400,NaN
2222,9984,HL1918,iPhone,4,Itai,Puntel,5/2/2018,São Paulo,5300,NaN
2223,9985,HL1918,iPhone,1,Guilherme,Vianna,3/18/2018,São Paulo,5300,NaN
2224,9991,HL7348,SmartWatch,5,Antônio,Soares,11/21/2018,São Paulo,1400,NaN
2225,9996,HL4379,Televisão,5,Caio,Moraes,1/22/2018,São Paulo,2500,NaN

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

             Billing
Produto
iPhone      47562200
Televisão   14827500
Notebook    11371500
Android     10822200
Câmera       5890500
Tablet       4673600
SmartWatch   4172000

                 Billing
Loja
Belo Horizonte   6480300
Curitiba         7060500
Fortaleza       14087900
Goiás            7441800
Porto Alegre     6868600
Recife           7303000
Rio de Janeiro  14867800
Salvador        13111300
São Paulo       22098300